.card {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  overflow: hidden;
  margin: var(--gap-xl) 0;
}

.preview {
  padding: var(--gap-2xl) var(--gap-xl);
}

.preview > :first-child {
  margin-top: 0;
}
.preview > :last-child {
  margin-bottom: 0;
}

.codeWrapper {
  border-top: 1px solid var(--color-border);
}

.codeWrapper div {
  margin: 0;
}

.card .codeWrapper pre {
  margin: 0;
  border: none;
  border-radius: 0;
}
